<!DOCTYPE html> 
<html>
  <form action="/articles/<%= @article.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
</html>
  