<form action='/article' method='POST'>
  <p>Title<input id="title" type="text" name="title" /><br>
  Content <textarea id="content" type="text" name="content"></textarea><br>
  <input type="submit">
  </p>
</form>