<form action='/article' method='POST'>
  <p>Title<input id="title" type="text" name="title" /><br>
  Content<input id="content" type="text" name="content" /><br>
  <input type="submit">
  </p>
</form>