<form method = "POST" action = "/articles">
<h1> Article Title: <input type = "text" id = "article_title" name = "article[title]"></h1>
<h2> Article Content: <input type = "text" id = "article_content" name ="article[content]"></h2>
<input type = "submit" value = "submit">
</form>